body{
}
.row{
	text-align: center;
}
#buttons-div{
height: 100px;
background-color: gray;
padding: 20px 0 0 0;
}
#input-div{
height: 100px;
background-color: yellow;
padding: 30px 0 0 0;
}
#gif-div{
color: black;
display: inline-block;
}
button{
	margin: 5px;
	border-radius: 5px;
	color: white;
	background-color: black;
}
#madness{
	margin: 20px;
}
.dynamic-div{
	display: inline-block;
	margin: 10px;
}